:root {
    --color-red: rgb(224, 83, 83);
    --color-light-purple: rgb(158, 120, 212);
    --color-dark-purple: rgb(118, 71, 185);
    --color-light-green: rgb(121, 195, 135);
    --color-dark-green: rgb(1, 81, 75);
    --color-white: rgb(255, 255, 255);
  }